<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl max-[768px]:text-sm" href="/"
            >Analisador de hemogramas</a
          >
        </div>
        <div class="flex gap-2 items-center justify-center">
          {% if g.username %}
          <p class="text-[14px] max-[768px]:hidden">Olá, {{ g.username }}</p>
          {% endif %}
          <ul class="menu menu-horizontal px-1">
            <li>
              <details>
                <summary>Ações</summary>
                <ul class="bg-base-100 rounded-t-none">
                  {% if g.username %}
                  <li><a href="/logout">Sair</a></li>
                  {% else %}
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Signup</a></li>
                  {% endif %}
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main
      class="mt-[56px] mb-[56px] section w-full flex items-center justify-center flex-col"
    >
      {% block content %}{% endblock %}
    </main>
    <footer
      class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 fixed bottom-0"
    >
      <aside>
        <p>Analisador de hemogramas</p>
      </aside>
    </footer>
  </body>
</html>
