{% extends 'base.html' %} {% from "_formhelpers.html" import render_field %} {%
block title %} Analisador de hemogramas{% endblock %} {% block content %}

<section
  class="max-w-[1600px] flex flex-col w-full max-[1600px]:pl-[16px] max-[1600px]:pr-[16px]"
>
  <div class="flex flex-col gap-4 mb-8">
    <h2 class="text-2xl font-bold text-left w-full">Adicionar análise</h2>
    <form
      method="post"
      enctype="multipart/form-data"
      class="flex flex-col items-start justify-start gap-4 max-w-[320px] w-full"
    >
      {{ form.csrf_token }} {{ render_field(form.title) }} {{
      form.image(class_="file-input") }} {% if form.image.errors %} {% for error
      in form.image.errors %}
      <div role="alert" class="alert alert-error alert-soft w-full">
        <span>{{ error }}</span>
      </div>
      {% endfor %} {% endif %}
      <input
        type="submit"
        class="btn w-full max-w-[320px]"
        value="Analisar"
        onclick="loading()"
      />
    </form>
  </div>

  <h2 class="text-2xl font-bold mb-4 text-left w-full">Minhas análises</h2>

  <div class="flex flex-col gap-4">
    <ul class="list bg-base-100 rounded-box shadow-md">
      {% for analysis in analysis %}
      <li class="list-row">
        <a href="/analysis/{{ analysis.get_id() }}" class="link capitalize">
          {{ analysis.get_title() }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<div
  id="loading"
  style="
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  "
>
  <span class="loading loading-dots loading-xl"></span>
</div>

<script>
  function loading() {
    const form = document.querySelector("form");

    if (form.reportValidity()) {
      document.getElementById("loading").style.display = "flex";
    }
  }
</script>
{% endblock %}
